header
{
    display: flex;
    background-color: gold;
    border-radius: 20px 20px 0px 0px;
}

header :only-child
{
    padding: auto;
}

header p
{
    margin-left: 40%;    
    margin-top: 30px;
    
}

header p a
{
    font-size: 20px;
    margin-top: 10px;
    margin-left:40px ;
    text-decoration: none;
}

header h1
{
    margin-left: 10px;
}

header figure
{
    margin: 5px;
}

header figure img
{
    width: 80px;
    border-radius: 40px;
    margin: 0px;
}

.Description-content figure img
{
    width: 400px;
    margin-left: 32%;    
}

.Description-content figure 
{
    margin-top: 0px;
}

.Description-content p
{
    width: 700px;
    margin-top: 0px;
    margin-left: 25%;
    text-align: center;
    font-size: 25px;
}



.places
{
    display: flex;
    background-color: rgb(0, 59, 102);
    border-radius: 40px;
    margin-bottom: 20px;
}

.places figure img
{
    height: 400px;
    width: 550px;
    border-radius: 40px;
}

.places-text
{
    color: white;
}

.titulo
{
    font-size: 40px;
    text-transform:uppercase;
}
.pais
{
    font-size: 20px;
}

.caracteristica
{
    font-size: 20px;
}

.descripcion
{
    margin-right: 10%;
    height: 150px;
}

button
{
    border-radius: 10px;
    height: 30px;
    width: 70px;
}

.acercaDe
{
    color: white;
    background-color:rgb(255, 168, 3);    
    border-radius: 20px 20px 20px 20px;
    display: flex;
}

.acercaDe figure img
{
    height: 400px;
    width: 550px;
    border-radius: 40px;
}

.acercaDe div
{
    width: 50%;
    padding: 10px 20px;
}


.sugerencias
{
    color: white;
    background-color:rgb(255, 168, 3);
    margin-bottom: 0px;
    border-radius: 20px 20px 0px 0px;
}

.sugerencias h3
{
    padding:20px 20px;
    padding-bottom: 10px;
}

.sugerencias label
{
    
    padding-left: 20px;
}

.sugerencias input
{
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sugerencias button
{    
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom:40px ;
}

footer
{
    margin-top: 0px;
    background-color: gold;
    height: 60px;
    border-radius: 0px 0px 20px 20px;
}

footer p
{
    margin-top: 0px;
    margin-left: 30%;
    padding-top: 20px;
}